
<div class="scrollable-row">
    <item-category  class="category" *ngFor="let category of categories" [category]="category"></item-category>
</div>
<hr>
<div class="row">
    <div class="col-sm-8">
        <add-to-cart [orderItems]="addItemList" (sendToMain)="receiveData($event)"></add-to-cart>
    </div>
    <div class="col-sm-4" style="background-color: #f5f4f4;;">
        <div class="row vertical-scrollable" style="height: 400px;">
            <order-summary [addItemList]="addItemList" (removeItem)="deleteFromOrderList($event)"></order-summary>
        </div>
        <div class="row" style="height: 100px;">
            <total-amount [addedItems]="addItemList"></total-amount>
        </div>
    </div>
</div>

