
  .scrollable-row {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
  }

  .category {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px; 
    margin-right: 20px; 
    vertical-align: top; 
    box-sizing: border-box;
  }

body, html {
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  height: 100vh; 
}

.add-to-cart-component {
  flex: 1; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
}

.order-summary-component {
  flex: 1; 
  overflow-y: auto; 
  border: 1px solid #ccc;
}

.vertical-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  height: 500px;    
  border: 1px solid #ccc; 
}

