
  
  .item {
    display: inline-block;
    width: calc(25% - 10px);
    margin: 0 5px;
    margin-bottom: 20px;
  }
  .vertical-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    height: 600px;    
    border: 1px solid #ccc; 
  }
  
  