<header>
  <script src="assets/js/bootstrap.bundle.js"></script>
    <!-- Header content here -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom">
      <div class="container-fluid">
          <div class="navbar-header navbar-text-style" style="padding-right: 50px;">
            Welcome to our system
          </div>
          <div class="nav-item">
            <a  class="nav-link navbar-text-style" [routerLink]="['/dashboard']" >Dashboard</a>
          </div>
          
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle navbar-text-style" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         Menu 1
                      </a>
                      <ul class="dropdown-menu">
                          <li>List 1</li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle navbar-text-style" data-bs-toggle="dropdown" role="button" aria-expanded="false">Menu2<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>list 2</li>
                    </ul>
                  </li>
              </ul> -->
              <ul class="custom-list navbar-nav flex-grow-1 d-flex justify-content-end">
                <li class="custom-li hidden-xs"><div class="navbar-text-style"><a href="#" onclick="return false;">Hello, UserName</a></div></li>
                <li><button class="btn btn-sm btn-danger btn-signout" hidden>Sign out</button></li>
                <li><button class="btn btn-sm btn-success btn-signin" (click)="login()">Sign in</button></li>
              </ul>
            </div>
          </div>
    </nav>
</header>
  
  <div class="app-body">
    <main class="main">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  
  <footer>
    <!-- Footer content here -->
  </footer>
  