<div class="row">
  <div class="modal-background">
      <div class="modal-content text-center">
          <h2>Confirm Checkout</h2>
          <p>Are you sure you want to proceed with the checkout?</p>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-primary button-spacing" (click)="onConfirmClick()">Confirm</button>
              <button class="btn btn-sm btn-danger" (click)="onCancelClick()">Cancel</button>
            </div>
          </div>
       </div>
  </div>
</div>
